<div class="login_background_image">
  <div class="login_content">
      <div class="login_header">
          <div class="login_ibm_logo"></div>

              <div class="title_text">Web Process Designer</div>

      </div>
      <!-- <button (click)="onSubmit()">测试</button> -->

      <form  (ngSubmit)="onSubmit()" #form="ngForm" >
                  <div class="popup_window">
                      <div class="login_window_content">

                          <div id="redirect-user-login" class="redirectLoginMessage redirectLoginMessageHide">
                              用户会话已到期。 请登录。
                          </div>

                          <div class="login_username_field">
                              <label for="username" class="loginLabel" id="user_id">用户名</label>
                              <input id="username" class="login-field" type="text" name="j_username" autocapitalize="off">
                          </div>
                          <div class="login_password_field">
                              <label for="password" class="loginLabel" id="password_label">密码</label>
                              <input name="j_password" type="password" class="login-field" autocomplete="off">
                          </div>
                          <div>
                              <input id="log_in" class="btn loginButton" type="submit" name="save" value="登录" aria-disabled="false">
                          </div>
                      </div>
                  </div>
                  <div id="login-copyright" class="login-copyright">Licensed Materials - Property of IBM. © Copyright IBM Corporation 2000, 2019.
                  </div>
                  <input type="hidden" name="CSRFToken" value="0.46712034165683525">
      </form>
  </div>
</div>
